<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <style>
 
* {
     box-sizing: border-box; 
}
 
section>* {
	font-size: 0.8em;
}

.big {
	font-size: 1.3em;
}

.small {
	font-size: 0.6em;
}
 
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid black;
}

.no-borders {
	border: none;
}

td.topless {
	border-top: none;
}

table.small-square>td {
	width: 1em;
	height: 1em;
}

.word::first-letter {
	font-size: 1.6em !important;
}

.one-half {
	width: 50%;
	float: left;
}

.one-third {
	width: 33%;
	float: left;
}

.two-thirds {
	width:66%;
	float: left;
}

.one-tab {
	margin-left:5%;
}

.one-tab-padding {
	padding-left:5%;
}

.two-tabs-padding {
	padding-left:10%;
}

hr {
	width: 20%;
}

.header {
	margin-top: 3em;
	margin-bottom: 3em;
}

.footer {
	margin-top: 3em;
}

.pen {
	color: #002b59;
	text-align: center;
}
.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.clear {
	clear: both;
	margin-bottom: 1em;
}

</style>
</head>
<body>

<div class="header">
<div class="one-third">
	<div>S.P.C.E.P.____________</div>
	<div>municipiul/orasul/comuna</div>
	<div>Nr.________din________</div>
</div>
<div class="one-third one-tab-padding">
	<div><b><u>AVIZAT</u></b></div>
	<div>SEFULUI SERVICIULUI,</div>
</div>
<div class="one-third big right"><b><u>Anexa nr. 11</u></b></div>
<div class="clear"></div>
</div>

<section>
<h2 class="center big"><span class="word">CERERE</span> <i>pentru</i> <span class="word">ELIBERAREA</span> <span class="word">ACTULUI</span> DE <span class="word">IDENTITATE</span></h2>
<p class="center">(Datele se completeaza de solicitant cu majuscule)</p>
<table>
	<tr>
		<td colspan="3"></td>
		<td colspan="4">Cod numeric personal-CNP</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,0, 1)}"/>
			<div>S</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,1, 2)}"/>
			<div>A</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,2, 3)}"/>
			<div>A</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,3, 4)}"/>
			<div>L</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,4, 5)}"/>
			<div>L</div></td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,5, 6)}"/>
			<div>Z</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,6, 7)}"/>
			<div>Z</div>
		</td>
		<td class="center">
			<div class="pen big"th:text="${#strings.substring(request.personalNumericCode,7, 8)}"/>
			<div>N</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,8, 9)}"/>
			<div>N</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,9, 10)}"/>
			<div>N</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,10, 11)}"/>
			<div>N</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,11, 12)}"/>
			<div>N</div>
		</td>
		<td class="center">
			<div class="pen big" th:text="${#strings.substring(request.personalNumericCode,12, 13)}"/>
			<div>C</div>
		</td>
	</tr>
	<tr>
		<td rowspan="2" colspan="3"><b><i>Subsemnatul:</i></b></td>
		<td colspan="2">Nume</td>
		<td colspan="15" class="pen" th:text="${request.lastName}"/>
	</tr>
	<tr>
		<td colspan="2">Prenume</td>
		<td colspan="15" class="pen" th:text="${request.firstName}"/>
	</tr>
	<tr>
		<td rowspan="2" colspan="3">Prenume parinti</td>
		<td colspan="2">Tata</td>
		<td colspan="15" class="pen" th:text="${request.fatherFirstName}"/>
	</tr>
	<tr>
		<td colspan="2">Mama</td>
		<td colspan="15" class="pen" th:text="${request.motherFirstName}"/>
	</tr>
	<tr>
		<td colspan="3">Sex</td>
		<td colspan="3"></td>
		<td colspan="1" class="pen" th:text="${request.isMale} ? 'X' : ''"/>
		<td colspan="6"><b>M</b></td>
		<td colspan="1" class="pen" th:text="${request.isFemale} ? 'X' : ''"/>
		<td colspan="6"><b>F</b></td>
	</tr>
	<tr>
		<td rowspan="2" colspan="3">Loc si data nastere</td>
		<td colspan="4">Mun./oras/sector/com./sat</td>
		<td colspan="13" class="pen" th:text="${request.birthTown}"/>
	</tr>
	<tr>
		<td colspan="2">Judet</td>
		<td colspan="3" class="pen" th:text="${request.birthCountry}"/>
		<td colspan="2">Data nasterii:  An</td>
		<td class="pen" th:text="${#strings.substring(request.birthDate.year,0, 1)}"/>
		<td class="pen" th:text="${#strings.substring(request.birthDate.year,1, 2)}"/>
		<td class="pen" th:text="${#strings.substring(request.birthDate.year,2, 3)}"/>
		<td class="pen" th:text="${#strings.substring(request.birthDate.year,3, 4)}"/>
		<td>luna</td>
		<td class="pen" th:text="${#strings.substring(request.birthDate.month,0, 1)}"/>
		<td class="pen" th:text="${#strings.substring(request.birthDate.month,1, 2)}"/>
		<td>zi</td>
		<td class="pen" th:text="${#strings.substring(request.birthDate.day,0, 1)}"/>
		<td class="pen" th:text="${#strings.substring(request.birthDate.day,1, 2)}"/>
	</tr>
	<tr>
		<td rowspan="4" colspan="3">Domiciliul actual</td>
		<td colspan="4">Mun./oras/sector/comuna</td>
		<td colspan="13" class="pen" th:text="${request.getCurrentAddress?.townName}"/>
	</tr>
	<tr>
		<td colspan="2">Strada/sat</td>
		<td colspan="15" class="pen" th:text="${request.getCurrentAddress?.streetName}"/>
	</tr>
	<tr>
		<td>Nr.</td>
		<td class="pen" th:text="${request.getCurrentAddress?.streetNumber}"/>
		<td>Bl.</td>
		<td colspan="2" class="pen" th:text="${request.getCurrentAddress?.buildingName}"/>
		<td colspan="2">Sc.</td>
		<td class="pen" th:text="${request.getCurrentAddress?.entrance}"/>
		<td colspan="2">Etj.</td>
		<td colspan="2" class="pen" th:text="${request.getCurrentAddress?.floorNumber}"/>
		<td colspan="2">Apt</td>
		<td colspan="3" class="pen" th:text="${request.getCurrentAddress?.apartment}"/>
	</tr>
		<td colspan="2">Judet</td>
		<td colspan="6" class="pen" th:text="${request.getCurrentAddress?.countryName}"/>
		<td colspan="4">Tel</td>
		<td colspan="5" class="pen" th:text="${request.phoneNumber}"/>
	</tr>
	<tr>
		<td rowspan="4" colspan="3">Domiciliul anterior(numai pentru cei care isi schimba domiciliul)</td>
		<td colspan="4">Mun./oras/sector/comuna</td>
		<td colspan="13" class="pen" th:text="${request.getPreviousAddress?.townName}"/>
	</tr>
	<tr>
		<td colspan="2">Strada/sat</td>
		<td colspan="15" class="pen" th:text="${request.getPreviousAddress?.streetName}"/>
	</tr>
	<tr>
		<td>Nr.</td>
		<td class="pen" th:text="${request.getPreviousAddress?.streetNumber}"/>
		<td>Bl.</td>
		<td colspan="2" class="pen" th:text="${request.getPreviousAddress?.buildingName}"/>
		<td colspan="2">Sc.</td>
		<td class="pen" th:text="${request.getPreviousAddress?.entrance}"/>
		<td colspan="2">Etj.</td>
		<td colspan="2" class="pen" th:text="${request.getPreviousAddress?.floorNumber}"/>
		<td colspan="2">Apt</td>
		<td colspan="3" class="pen" th:text="${request.getPreviousAddress?.apartment}"/>
	</tr>
		<td colspan="2">Judet</td>
		<td colspan="6" class="pen" th:text="${request.getPreviousAddress?.countryName}"/>
		<td colspan="4">Tel</td>
		<td colspan="5" class="pen"></td>
	</tr>
	<tr>
		<td colspan="3">Nume anterior</td>
		<td colspan="17" class="pen" th:text="${request.previousName}"/>
	</tr>
	<tr>
		<td colspan="3">Stare civila</td>
		<td class="pen" th:text="${request.isSingle} ? 'X' : ''"/>
		<td colspan="3">Necasatorit(a)</td>
		<td class="pen" th:text="${request.isMarried} ? 'X' : ''"/>
		<td colspan="4">Casatorit(a)</td>
		<td class="pen" th:text="${request.isDivorced} ? 'X' : ''"/>
		<td colspan="3">Divortat(a)</td>
		<td class="pen" th:text="${request.isWidow} ? 'x' : ''"/>
		<td colspan="3">Vaduv(a)</td>
	</tr>
	<tr>
		<td colspan="3">Situatie militara</td>
		<td class="pen" th:text="${request.isActive} ? 'X' : ''"/>
		<td colspan="3">Cadru activ</td>
		<td class="pen" th:text="${request.isRecruit} ? 'X' : ''"/>
		<td colspan="4">Recrut</td>
		<td class="pen" th:text="${request.isReservist} ? 'X' : ''"/>
		<td colspan="2">Rezervist*</td>
		<td class="pen" th:text="${request.isWithoutMilitaryObligation} ? 'X' : ''"/>
		<td colspan="4">Fara obligatii militare</td>
	</tr>
	<tr>
		<td colspan="3">Ultima scoala absolvita</td>
		<td colspan="17" class="pen" th:text="${request.previousSchool}"/>
	</tr>
	<tr>
		<td colspan="3">Ocupatia actuala(meseria,functia)</td>
		<td colspan="17" class="pen" th:text="${request.profession}" />
	</tr>
	<tr>
		<td rowspan="7" colspan="3">Copii minori(sub 14 ani)</td>
		<td class="center">Nr.</td>
		<td colspan="6" class="center">Nume si prenume</td>
		<td colspan="4" class="center">Data nasterii</td>
		<td colspan="6" class="center">Localitatea si judetul de nastere</td>
	</tr>
	<tr>
		<td class="center">1.</td>
		<td colspan="6" class="pen"></td>
		<td colspan="4" class="pen"></td>
		<td colspan="6" class="pen"></td>
	</tr>
	<tr>
		<td class="center">2.</td>
		<td colspan="6" class="pen"></td>
		<td colspan="4" class="pen"></td>
		<td colspan="6" class="pen"></td>
	</tr>
	<tr>
		<td class="center">3.</td>
		<td colspan="6" class="pen"></td>
		<td colspan="4" class="pen"></td>
		<td colspan="6" class="pen"></td>
	</tr>
	<tr>
		<td class="center">4.</td>
		<td colspan="6" class="pen"></td>
		<td colspan="4" class="pen"></td>
		<td colspan="6" class="pen"></td>
	</tr>
	<tr>
		<td class="center">5.</td>
		<td colspan="6" class="pen"></td>
		<td colspan="4" class="pen"></td>
		<td colspan="6" class="pen"></td>
	</tr>
	<tr>
		<td class="center">6.</td>
		<td colspan="6" class="pen"></td>
		<td colspan="4" class="pen"></td>
		<td colspan="6" class="pen"></td>
	</tr>
	<tr>
		<td colspan="20">
			<div class="big"><i><b>Rog sa mi se elibereze actul de identitate pentru motivul:</b></i></div>
			<div class="big left pen one-tab-padding" th:text="${request.reason}"/>
		</td>
	</tr>
</table>
<p>Declar pe propria raspundere ca datele completate in prezenta cerere privind identitatea mea sunt reala si cunosc ca declararea necorespunzatoare a adevarului constituie infractiune si se pedepseste conform prevederilor Codului penal</p>
<p class = "small">Ma oblig ca in termen de 48 ore de la gasirea actului de identitate sa il predau Serviciului public comunitar de evidenta a persoanelor **</p>
</section>

<section>
	<div class="small center one-half">Semnatura solicitant***</div>
	<div class="small center one-half">
		<div>Semnatura parinte/reprezentant legal</div>
		<div>Act de identitate-seria nr.</div>
	</div>
	<div class="clear"></div>
</section>

<section>
	<div class="small one-third">Data:</div>
	<div class="two-thirds">
		<table class="center"><tr>
			<td class="no-borders">An</td>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.year,0,1)}"/>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.year,1,2)}"/>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.year,2,3)}"/>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.year,3,4)}"/>
			<td class="no-borders">luna</td>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.month,0,1)}"/>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.month,1,2)}"/>
			<td class="no-borders">zi</td>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.day,0,1)}"/>
			<td class="pen topless" th:text="${#strings.substring(request.requestDate.day,1,2)}"/>
		</tr></table>
	</div>
</section>

<div class="footer">
<hr class="one-tab">
<p class = "small one-tab">*)Dupa caz, se inscrie in caseta deschisa cifra 3 pentru ofiter, 4 pentru maistru militar, 5 pentru subofiter si 6 pentru gradat-soldat
<br/>**)Pentru cazurile in care s-a solicitat un act de identitate in locul celui pierdut sau furat
<br/>***) Se semneaza in fata lucratorului de evidenta a persoanelor</p>
</div>

</body>
</html>